.repo
  .mugshot
    %a{:href=> user_path(repo.user)}
      %img{:src => repo.user.mugshot.url(:thumb)}
  .details
    .heading
      .link
        %h3
          %a{:href => repo.url}==#{repo.username}/#{repo.name}
      .watches
        w
        %span.title=repo.watchers
        \/
        f
        %span.title=repo.forks
    .description
      %p=repo.description
