-if !meetup.presos.blank?
  %h4 presentations
  %ul
    -for preso in meetup.presos
      %li
        %a{:href => group_meeting_preso_url(meetup.group,meetup,preso)}
          =preso.title
        -if preso.user
          &mdash;
          =user_link(preso.user)
