%h3
  %a{:href => group_path(@group)}=@group.name
  ,
  =@meeting
  
.where
  =@meeting.where

%hr.space

.spiel
  :textile
    #{@meeting.spiel}

-unless @meeting.analogue_blog.blank?
  %h4 analogue blog / meeting notes
  :textile
    #{@meeting.analogue_blog}

%hr.space

%h4 presentations
-if @meeting.presos.blank?
  hey, would you like to give a talk?
-else
  %ul
    -@meeting.presos.each do |preso|
      %li
        %a{:href => group_meeting_preso_path(@group,@meeting,preso)}
          =preso.title
          &mdash;
          =preso.user.nick
