%a{:href => group_path(@group)}
  &larr;
  =@group.name
-if authorised?
  |
  %a{:href => admin_group_meeting_path(@group,@meeting)} admin

%h3
  =@meeting
  %span
    =@meeting.where


.spiel
  %h4 spiel
  :plain
    #{@meeting.spiel_html}


%h4 presentations
-if @meeting.presos.blank?
  hey, would you like to give a talk?
-else
  %ul.presos
    -@meeting.presos.each do |preso|
      %li
        %a{:href => group_meeting_preso_path(@group,@meeting,preso)}
          =preso.title
        -if preso.user
          &mdash;
          =user_link(preso.user)

-unless @meeting.analogue_blog.blank?
  %h4 analogue blog / meeting notes
  :plain
    #{@meeting.analogue_blog_html}
            
