%a{:href => group_path(@group)}
  &larr;
  =@group.name
%h3
  =@meeting
  %span
    =@meeting.where

.spiel
  %h4 spiel
  :textile
    #{@meeting.spiel}


%h4 presentations
-if @meeting.presos.blank?
  hey, would you like to give a talk?
-else
  %ul.presos
    -@meeting.presos.each do |preso|
      %li
        %a{:href => group_meeting_preso_path(@group,@meeting,preso)}
          =preso.title
          -if preso.user
            &mdash;
            =preso.user.nick

-unless @meeting.analogue_blog.blank?
  %h4 analogue blog / meeting notes
  :textile
    #{@meeting.analogue_blog}
            
