[submodule "vendor/rfeedparser"]
	path = vendor/rfeedparser
	url = git://github.com/jmhodges/rfeedparser.git
[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/rails/open_id_authentication.git
