-form_for comment, :url => group_meeting_preso_comments_path(@group,@meeting,preso) do |f|
  =f.label :comment, "Leave a comment <span>(use textile & lesstile)</span>"
  =f.text_area :comment
  
  
  .clear

  =f.submit 'comment'
