%h2
  %a{:href => polymorphic_path([:admin,@meeting.group])}=@meeting.group.name
  \:
  =@meeting
%h3 presos
=list_of_children(@meeting,:presos) do |preso|
  %a{:href => polymorphic_path([:admin,@meeting.group,@meeting,preso])}=preso.title