%h2
  %a{:href => polymorphic_path([:admin,@meeting.group])}=@meeting.group.name
  \:
  =@meeting
  
%a{:href => group_meeting_path(@group,@meeting)} preview
  
%h3
  %a.toggler{:href => '#edit'} edit
#edit
  =render :partial => 'form', :locals => {:meeting => @meeting}

%h3 presos
=list_of_children(@meeting,:presos) do |preso|
  %a{:href => polymorphic_path([:admin,@meeting.group,@meeting,preso])}=preso.title
  
%h3
  %a.toggler{:href => '#new'} new preso
    
#new
  =render :partial => 'admin/presos/form', :locals => {:preso => @meeting.presos.build}