-form_for(preso,:url => polymorphic_path([:admin,@group,@meeting,preso])) do |f|
  %fieldset
    =f.label :title
    =f.text_field :title, :class => 'title'
    
    =f.label :description, "Description <span>#{formatting_help}</span>"
    =f.text_area :description

    =f.label :user_id, "Who's talking (user id for now)"
    =f.text_field :user_id
    
  %fieldset
    =f.label :allow_feedback, "Allow feedback on the talk. <span>(people can leave comments either way)</span>"
    =f.check_box :allow_feedback
    
  %fieldset
    =f.submit
