%h2
  %a{:href => polymorphic_path([:admin,@preso.meeting.group])}=@preso.meeting.group
  \:
  %a{:href => polymorphic_path([:admin,@preso.meeting.group,@preso.meeting])}=@preso.meeting
  \:
  =@preso

%h3 preso

=render :partial => 'presos/preso', :locals => {:preso => @preso}

%h3 edit
.span-16.last
  =render :partial => 'admin/presos/form', :locals => {:preso => @preso}