%h3
  %a{:href=>polymorphic_path([blog.group,blog])}
    last meetup :
    =blog.group.short_name
  %span
    =blog.date.to_s(:brief).downcase

.spiel
  :plain
    #{blog.spiel_html}

-unless blog.presos.blank?
  .presos
    =render :partial => 'presos', :object => blog.presos


-unless blog.analogue_blog.blank?
  .blog
    %h4 analogue blog / meeting notes
    :plain
      #{blog.analogue_blog_html}

.details
  %a{:href => group_meeting_path(blog.group,blog)} details &rarr;


