%h3
  next meetup :
  =meetup.group.short_name
  %span
    =meetup.date.to_s(:brief).downcase
    &middot;
    =meetup.where
.spiel
  :textile
    #{meetup.spiel}

.presos
  -if meetup.presos.blank?
    How about stepping up to present something you've been working on?

  -else
    =render :partial => 'presos', :object => meetup.presos

.details
  %a{:href => group_meeting_path(meetup.group,meetup)} details &rarr;
