-content_for(:sidebar) do
  %h2 in the ether
  %ul
    =render :partial => 'shared/tweet', :collection => @tweets

.column.span-8
  %h2 meetups
  %ul
    -@meetups.each do |meetup|
      %li
        %a{:href => group_meeting_path(meetup.group,meetup)}
          =meetup.group.name
          =meetup.to_s

    -@groups.each do |group|
      %li
        %a{:href => group_path(group)}
          =group.name
          (meetup tba)
      
-if @user        
  .column.span-8.last
    %h2
      %a{:href => user_path(@user)}
        meet
        =@user.nick
        
    %img{:src => @user.mugshot.url(:small)}
    .name
      =@user.name
      -unless @user.location.blank?
        from
        =@user.location
