-#%h2 in the ether
-#%ul
-#  =render :partial => 'shared/tweet', :collection => @tweets


-unless @next_meetups.blank?
  .meetups
    %strong
      -#%img{:src=>'images/beer-icon.png'}
      upcoming meetups
    %ul
      -@next_meetups.each do |meetup|
        %li
          %a{:href => group_meeting_path(meetup.group,meetup)}
            =meetup.group.name
            =meetup.date.to_s(:brief)


