-form_for :facet, :url => facets_path, :method => 'post' do |f|
  facet of kind 
  = @facet.facet_kind.name
  %br
  
  =f.hidden_field :user_id
  =f.hidden_field :facet_kind_id
  
  -@facet.info.each do |k|
    =k
    \:
    =text_field_tag "facet[info][#{k}]"
    %br
  
  =submit_tag '+'