-form_for comment, :url => group_meeting_preso_preso_comment_path(@group,@meeting,preso,comment) do |f|
  =f.label :comment, "Leave a comment <span>(use textile & lesstile)</span>"
  =f.text_area :comment
  -if preso.allow_feedback?
    feedback pls
  =f.submit 'comment'
