-form_for :preso_rating, :url => group_meeting_preso_preso_rating_path(@group,@meeting,preso,preso_rating) do |f|
  .ratings
    =f.label :content, "the content"
    -5.times do |rating|
      =f.radio_button :content, rating, :class => 'star'
    
    .clear

    =f.label :length, "the length"
    -5.times do |rating|
      =f.radio_button :length, rating, :class => 'star'
    
    .clear

    =f.label :slides, "the slides or other props"
    -5.times do |rating|
      =f.radio_button :slides, rating, :class => 'star'
    
    .clear
      
    =f.submit 'rate'