-form_for :preso_rating, :url => group_meeting_preso_preso_ratings_path(@group,@meeting,preso) do |f|
  .ratings
    =f.label :content, "content"
    -5.times do |rating|
      =f.radio_button :content, rating, :class => 'star'
    
    .clear

    =f.label :length, "length"
    -5.times do |rating|
      =f.radio_button :length, rating, :class => 'star'
    
    .clear

    =f.label :slides, "slides or other props"
    -5.times do |rating|
      =f.radio_button :slides, rating, :class => 'star'
    
    .clear
    
    %label &nbsp;
    =f.submit 'rate'
