-content_for :sidebar do
  %h3 other presos
  %ul
    -@other_presos.each do |preso|
      %a{:href => group_meeting_preso_path(@group,@meeting,preso)}
        =preso.title
        &mdash;
        =preso.user.nick

-if authorised?
  %a{:href => edit_group_meeting_preso_path(@group,@meeting,@preso)} edit

%h3
  ==#{@group.name}, #{@meeting.date.to_s(:long_ordinal)}
.talk.span-16.last
  %h2
    =@preso.title
    %span
      by
      =@preso.user.nick

  :plain
    #{@preso.description_html}

-unless @preso.preso_comments.blank?
  %h3 you reckon...
  =render :partial => 'comment', :collection => @preso.preso_comments
  

-if logged_in?
  %h3 comment
  =render :partial => 'comment_form', :locals => {:comment => PresoComment.new, :preso => @preso}
-else
  log in to comment.