-content_for :sidebar do
  %h3 other presos
  %ul
    -@other_presos.each do |preso|
      %a{:href => group_meeting_preso_path(@group,@meeting,preso)}
        =preso.title
        -if preso.user
          &mdash;
          =preso.user.nick


%a{:href => group_path(@group)}
  &larr;
  =@group.name

%a{:href => group_meeting_path(@group,@meeting)}
  &larr;
  =@meeting.date.to_s(:long_ordinal)

-if authorised?
  |
  %a{:href => edit_group_meeting_preso_path(@group,@meeting,@preso)} edit


=render :partial => 'preso', :object => @preso

-if @preso.allow_feedback?
  .span-16.last.rating
    -if @preso.preso_ratings.blank?
      %h3 be the first to rate this talk
    -else
      -avg = @preso.avg_rating
      %h3
        rating
        %span
          ==(from #{pluralize(avg["count"], "rating")})
      =render :partial => 'ratings', :locals => {:avg_rating => avg}
    
    -if logged_in? && !@preso.user_rated?(current_user)
      %hr.space
      .span-16.last
        %h3 add your rating
        = render :partial => 'rating_form', :locals => {:preso_rating => PresoRating.new, :preso => @preso}
    

-unless @preso.comments.blank?
  %h3 you reckon...
  =render :partial => 'comments/comment', :collection => @preso.comments


-if logged_in?
  .span-16.last
    %h3 comment
    =render :partial => 'comments/comment_form', :locals => {:comment => Comment.new, :preso => @preso}
-else
  log in to comment & rate.
