/* @override http://0.0.0.0:3000/stylesheets/application.css */

ul {
  list-style-image: url(/images/smiley_bullet.png);
}

.header-row {
  height: 97px;
}
.header img {
  vertical-align: bottom;
}

.navigation {
  min-height: 97px;
  height: 100%;
  vertical-align: bottom;
  text-align: center;
}

.navigation ul {
  position: relative;
  bottom: -40px;
  list-style-type: none;
  list-style-image: none;
}

.content {
  border-top: 1.1em solid #a0a0a0;
  padding-top: .4em;
  background: #f3f3f3;
}

.content .blurb {
  font-style: italic;
/*  font-size: 1.2em;*/
}

.content hr.space {
  background: #f3f3f3;
  color: #f3f3f3;
}

.user-search {
  text-align: center;
}
.user-search .blurred {
  color: #aaa;
}


.mugshot {
  text-align: center;
}

.facets h2 {
  padding-left: 34px;
  background: url(/images/facets.png) no-repeat;
}

.facets td.favicon {
  width: 16px;
}

.facets .person,.groups .person,.users .person {
  width: 120px;
  float: left;
  text-align: center;
  background: #e0e0e0;
  padding: 4px 0;
  margin: 0 4px 4px 0;
}

a {
  border: none;
  text-decoration: none;
}


h2 span,h3 span {
  font-size: .5em;
  color: #222222;
}


h2,h3,h4,.title {
  color: #d64949;
  font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 a,h3 a {
  color: #d64949;
  text-decoration: none;
  padding-bottom: -2px;
  border-bottom: 1px solid #d68787;
}

.rating .label {
  float: left;
  width: 50px;
  text-align: right;
  margin-right: 1em;
}

.rating .stars {
  float: left;
  margin-right: 1em;
}


.sidebar {
  border-top: 1.1em solid #f0f0f0;
  padding-top: .4em;
}

.pinuser {
  width: 48px;
  margin: 0 .1em 1.2em .1em;
  float: left;
}

.pinname {
  position: absolute;
}

.grid {
  float: left;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer {
  text-align: center;
  background: #FaFaFa;
  
  padding: 1.5em 0;
}

label {
  display: block;
}

label span {
  font-weight: normal;
}

.ratings label {
  float: left;
  width: 75px;
  text-align: right;
  padding-right: 1em;
}

.highlighttable {
  border: 1px solid #a0a0a0;
}
.highlighttable .linenos {
  width: 20px;
  background: #a0a0a0;
  text-align: right;
	color: #4d4d4d;
}
.highlighttable .highlight {
  background: inherit;
}

.highlighttable pre,.highlighttable code {
  line-height: 1;
  margin: 0;
}

.presos-show .talk h2 {
  background: url(/images/talk.png) no-repeat 0 2px;
  padding-left: 36px;
}

.comment {
  border: 1px solid #d6d6d6;
  background-color: #e7e7e7;
  padding: .5em 1em;
}

.comment .m {
	float: left;
	margin: 0 1em 0 0;
}

.ui-tabs-nav li {
	display: inline;
	margin: 1em;
}
