* {
  margin: 0;
  padding: 0;
}

body,html {
  height: 100%;
  font-family: Georgia;
  background: #003865;
}

a img {
  border: none;
}


.header {
  width: 100%;
  background: url(/images/grainy-gray.png);
  border-bottom: 4px solid #444;
  height: 96px;
}



.header .header-inner {
  width: 680px;
  height: 96px;
  margin: auto auto;
  background: url(/images/shadow_bg.gif) no-repeat top;
}

.header .header-inner h1 {
  font-family: Helvetica,Arial,sans-serif;
  color: #ccc;
  width: 600px;
  height: 96px;
  background: url(/images/head.png) repeat-x top left;
  text-align: center;
  padding: 1em 0;
  margin: 0 auto;
}

.header .login a {
  color: #ccc;
}

.header .login {
  float: right;
  color: #aaa;
  font-size: 80%;
  text-align: right;
}
.header .logo {
	float: left;
	padding-left: 20px;
	height: 96px;
}



#content {
  width: 600px;
  background: #a87313 url(/images/gradient.gif) repeat-x;
  color: white;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 1em;
}

#content a {
  color: #ccc;
}

#content a:visited {
  color: #b8b8b8;
}

#content a:active {
  color: #fff;
}

#content ul {
  margin-top: 0px;
}

body.users-index #content {
  margin-left: auto;
  margin-right: auto;
  width: 502px;
  text-align: center;
  background: none;
  border: none;
  float: none;
}

#floaters {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  position: relative;
}

#floaters img.beerhead {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 500px;
  height: 150px;
}

#tryer {
  position: absolute;
  left: 120px;
  top: 0;
  width: 260px;
  height: 500px;
  background: red;
  z-index: 1100;
  opacity: 0.5;
}

#floaters img.beerbase {
  position: absolute;
  top: 345px;
  left: 0;
  z-index: 1000;
  display: block;
  width: 500px;
  height: 155px;
}

#floaters img.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  display: block;
  z-index: 1;
}

#floaters img.user {
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

#name-box {
  z-index: 1050;
  position: absolute;
  color: white;
}

#content h1,h2,h3 {
  font-family: Helvetica,Arial,sans-serif;
}



#content h2 {
  margin-bottom: 0px;
}



p.minor {
  float:right;
  text-align: right;
  font-size: 80%;
  margin-top: 0px;
}


#content p.clear {
  width: 100%;
  float: left;
  clear: both;
}

#info-container p {
  float:right;
  text-align: right;
  clear: right;
  margin-top: 0px;
  margin-bottom: 1em;
  width: 350px;
}

#info-container p.minor {
  width: 100%;
}

#info-container .list {
  padding: 0.1em 1em 1em 1em;
  width: 100%;
}

#content p strong {
  font-size: 1.2em;
  font-weight: normal;
}

#content p.blurb em {
  font-size: 1.2em;
  float: right;
  text-align: right;
}

#content p.highlighted {
  border: 1px solid #aaa;
}

#content .list {
  float: left;
  padding: 0.1em 1em 1em 1em;
}

#content div {
  float: left;
}

#content div#menu {
  float: left;
  width: 50%;
}

#content div#menu-minor {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 80%;
}

#content p.mugshot {
  float: left;
  width: 160px;
}

#content form p {
  float: left;
  clear: both;
  margin-bottom: 0px;
}

#content form h2 {
  width: 100%;
  float: left;
  clear: both;
}

#info-container {
  float: left;
  padding: 0px 1em;
}



#tabs {
  text-align: left;
  float: left;
  width: 100%;
  clear: both;
}

#grid {
  width: 100%;
  float: left;
  text-align: center;
}

#grid .pinuser {
  margin-left: .2em;
  margin-bottom: 1.2em;
}

#form-container {
  float: left;
}


span.byline {
  font-size: 80%;
  color: #e0e0e0;
}

span.byline strong {
  color: #fff;
}

ul.beers {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.beers li {
  background-image: url(/images/lilbeer.gif);
  background-repeat: no-repeat;
  background-position: .4em 0em;
  padding-left: 1.8em;
}

ul.bare-list {
  list-style-type: none;
  padding: 0;
  margin: 1em;
}