-@page_title = @group.name

-content_for(:sidebar) do
  %h2 meetings
  %ul
    -@group.meetings.each do |meeting|
      %li
        %a.large{:href=>group_meeting_path(@group,meeting)}=meeting.date.to_s(:long_ordinal)
        
  %h2 in the ether
  %ul
    =render :partial => 'shared/tweet', :collection => @group.twitter_feed.feed_items.all(:limit => 10)

%h2.column.span-16.last=@group.name

.column.span-8.last
  =link_to "#{@group.name} homepage", @group.url

.column.span-16.last.ppl
  %h2 members
  -@group.users.each_with_index do |user,i|
    .person
      %a{:href=>user_path(user)}
        %img{:src => user.mugshot.url(:thumb)}
        %br
        =user.nick
