%tr
  %td.favicon
    %img.favicon{:src=>facet_show.favicon_url, :width=>16, :height=>16}
    
  %td
    = link_to facet_show.link_text, facet_show.link

  %td
    = link_to 'feed', facet_show.feed unless facet_show.feed.blank?