<% remote_form_for :facet, :url => facets_path, :method => :post do |f| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <p>
  kind
  </p>
  <p>
  name
  <%= f.text_field :name %>
  </p>
  <p><%= submit_tag '+' %></p>
<% end %>