.detail
  .name-location
    %strong= @user.name
    -unless @user.aliases.blank?
      %br
      %em a.k.a
      =@user.aliases
    -unless @user.location.blank?
      %br
      %em in
      =@user.location

  -unless @user.blurb.blank?
    .blurb
      %em=textilize_without_paragraph @user.blurb

  -unless @user.site_url.blank?
    .site
      =link_to @user.site_name, @user.site_url

  -unless @user.working_at.blank?
    .working-at
      %em working at
      =@user.working_at_url.blank? ? @user.working_at : link_to(@user.working_at, clean_link(@user.working_at_url))

  -unless @user.working_on.blank?
    .working-on
      %em working on
      =textilize_without_paragraph @user.working_on