<% u = thankyou %><li>
  <%= link_to u.nick, user_path(u) %><br/>
  <% u.thankyous_to.each do |t| %>
    <%= image_tag('lilbeer.gif', :id => "u_#{u.id}_#{t.id}", :class => 'beer') %>
  <% end %>
  <br/>
  <span id="u_<%=u.id%>">&nbsp;</span>
</li>