<% content_for :feed_tags do %>
<%= auto_discovery_link_tag(:rss, formatted_users_path(:rss) ) %>
<% end %>

<%= javascript_tag "Glass.users = #{@users_for_glass.to_json}"%>

<div id="tabs">
  <%= link_to 'pinboard', pinboard_users_path() %>
</div>

<div id="floaters">
  <img src="/images/beertop.png" class="beerhead" />
  <img src="/images/beerbase.png" class="beerbase" />
  <img src="/images/croppedbeer.png" class="bg" />
</div>

<div id="name-box" style="display:none"></div>