-@page_title = @user.nick

#info-container
  .edit
    -if authorised?
      =link_to "Edit #{@user.nick}", user_path(@user)

  =render :partial => 'show_common'
  
  .mugshot.left
    =image_tag @user.mugshot.url

  #thankyous.thankyous{:class => logged_in_but_other_user? ? 'highlighted' : ''}
    = render :partial => 'thankyous'

  -if @user.affiliations.size > 0
    #affiliations.list
      %h2 groups
      %ul
        = render :partial => 'affiliation_show', :collection => @user.affiliations

  -if @user.facets.size > 0
    #facets.list
      %h2 facets
      of
      =@user.nick
      's web presence.
      %table.facet-list
        = render :partial => 'facet_show', :collection => @user.facets
