<% content_for :header do %>
<script>
var reasons = <%= @users.map {|u| u.thankyous_to}.flatten.inject({}) do |rs,t|
    rs[t.id.to_s] = [t.reason,t.from.nick,time_ago_in_words(t.created_at)]
    rs
  end.to_json rescue '{}' %>;
</script>

<%= javascript_include_tag 'thankyous' %>
<% end %>

<% @page_title = "hey, beers" %>

<p class="minor">
  <%= link_to 'ratings', beerating_users_path %>
</p>

<ul class="bare-list">
  <%= render :partial => 'thankyou', :collection => @users %>
</ul>