<div id="menu">
<% if logged_in? %>
  Hi <%= link_to current_user.nick, user_path(current_user) %> &middot;
  <%= link_to 'log out', logout_path %>
<% else %>
  <%= link_to 'log in', login_path %>
  &middot;
  <%= link_to 'sign up', signup_path %>
<% end %>
</div>

<div id="menu-minor">[
  <%= link_to_unless_current 'schooner', users_path%> &middot;
  <%= link_to_unless_current 'pinboard', pinboard_users_path%> &middot;
  <%= link_to_unless_current 'hey,beers', thankyous_users_path%>
]</div>