.resources
  %h3 resources
  %ul
    %li
      %a{:href=>'http://wiki.rubyonrails.com.au'} roro wiki
    %li
      %a{:target=>"_blank", :href=>"http://www.google.com/calendar/render?cid=utso0mk1mdjhjha0ahi7hfmrq0%40group.calendar.google.com"}
        roro calendar
        %br/
        %img{:src=>"http://www.google.com/calendar/images/ext/gc_button1_en.gif", :border=>0}