-if @not_built
  %em no beer graph :(
-else
  =image_tag('beergraph.png')
  %p
    A neato graph of who's owes beer to whom in 
    %a{:href=>'irc://freenode.org/roro'}#roro
  %p
    Bigger circle == more beers.
  %p
    Name (beers owed to name / beers promised from name)
  %p
    %em
      Generated
      =distance_of_time_in_words(@built_ago)
      ago.