-if @not_built
  %em no beer graph :(
-else
  %embed{:width=>"500", :height=>"500", :type=>"image/svg+xml", :src=>"/thankyous/beergraph.svg"}/
  %p
    A graph of who's owes beer to whom in 
    %a{:href=>'irc://freenode.org/roro'}#roro
  %p
    Bigger circle == more beers.
  %p
    Name (beers owed to name / beers promised from name)