<% @page_title = "beers owed" + (@to ? " to #{@to.nick}" : '')  %>
<p class="minor">
  <%= link_to "hey, beers", thankyous_users_path %>
  &middot;
  <%= link_to "show #{@to.nick}", user_path(@to) if @to %>
</p>

<ul class="beers">
  <%= render :partial => 'thankyou', :collection => @thankyous %>
</ul>