Hey <%= @user.nick %>, you reset your password on the roro facebook.

Your new password is

<%= @user.password %>

Login and go to http://faces.rubyonrails.com.au/users/<%= @user.id %>;edit to update your password!

If you're having trouble, don't hesitate to drop us a line at lachie@gmail.com.

cheers,
Lachie
faces.rubyonrails.com.au