%h2=@group.name
%h3 meetups
=list_of_children(@group,:meetings) do |meeting|
  %a{:href => polymorphic_path([:admin,@group,meeting])}=meeting
  
%h3 
  %a.toggler{:href => '#new'} new meetup
#new
  =render :partial => 'admin/meetings/form', :locals => {:meeting => @group.meetings.build}